.about-container {
  color: var(--body-text-color);
}

.about-container h2,
h4 {
  color: var(--heading-color);
}

.about-container ul {
  padding-left: 2rem;
  margin-bottom: 20px;
}

.about-container li {
  margin-bottom: 10px;
}

.about-container a {
  color: var(--body-text-color);
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s;
}

.about-container a:hover {
  text-decoration: underline;
}

.about-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image-container img {
  flex: 1;
}
