.wrapper {
  display: flex;
  background-color: #f9f6ee;
  border-radius: 16px;
  padding: 4px;
  border: 1px solid #d3d3d3;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.control {
  background-color: var(--button-primary-background-color);
  color: var(--body-text-color);
  transition: 0.3s ease;
}

.control:hover {
  filter: drop-shadow(0 0 2px rgba(117, 87, 6, 0.8));
}

.social-contact {
  display: flex;
  gap: 10px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: start;
  }
}

.form {
  flex: 1;
  padding: 24px;
  padding-left: 48px;
  border-left: 0;

  @media (max-width: 768px) {
    padding: 16px;
    padding-left: 16px;
  }
}

.fields {
  margin-top: -12px;
}

.fieldInput {
  flex: 1;

  & + & {
    margin-left: 16px;

    @media (max-width: 768px) {
      margin-left: 0;
      margin-top: 16px;
    }
  }
}

.fieldsGroup {
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.contacts {
  background-image: linear-gradient(
    -60deg,
    var(--button-primary-background-color) 0%,
    #c29a2b 100%
  );
  box-sizing: border-box;
  position: relative;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  border: 1px solid transparent;
  padding: 24px;
  flex: 0 0 280px;

  @media (max-width: 768px) {
    margin-bottom: 8px;
    padding-left: 16px;
  }
}

.title {
  margin-bottom: 36px;
  font-family: "Greycliff CF", sans-serif;

  @media (max-width: 768px) {
    margin-bottom: 24px;
  }
}

.control {
  @media (max-width: 768px) {
    flex: 1;
  }
}
