.details-container {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: var(--body-text-color);
}

.top-game-content {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.detail-section {
  padding-left: 10px;
}

.left-margin {
  margin-left: 3rem;
}

.game-cover-img {
  width: 14rem;
  position: absolute;
  top: 55%;
  left: 5%;
  z-index: 5;
}

.gh-mascot-img {
  width: 20rem;
  margin-left: 2rem;
}

.website-img-layout {
  display: flex;
}

.cover-img-btn {
  width: 14rem;
  position: absolute;
  top: 120%;
  left: 5%;
  z-index: 5;
  background-color: var(--button-primary-background-color);
  color: var(--body-text-color);
}

.cover-img-btn:hover {
  filter: drop-shadow(0 0 2px rgba(117, 87, 6, 0.8));
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.divider-h {
  width: 80%;
  display: flex;
  align-self: center;
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

iframe,
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rating-section {
  margin-right: 3rem;
}

.rating-color {
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--heading-color);
  text-align: center;
  width: 6rem;
  height: 4.5rem;
  font-size: 2.5rem;
}

.rating-color-high {
  background-color: #6c3;
}

.rating-color-medium {
  background-color: #fc3;
}

.rating-color-low {
  background-color: #f00;
  color: #fff;
}

.rating-color-tbd {
  background-color: #ccc;
  color: #333;
}

.details-hero {
  padding: 0;
  height: 30rem;
  position: relative;
  color: #f2f2f2;
  margin-bottom: 10rem;
}

.details-title,
.game-release-date,
.game-companies {
  right: 10%;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  z-index: 5;
}

.details-title {
  top: 30%;
  padding-left: 10px;
}

.game-release-date {
  top: 40%;
  padding-left: 10px;
}

.game-companies {
  top: 50%;
  padding-left: 10px;
}

@media (max-width: 1000px) {
  .website-img-layout {
    flex-direction: column;
    align-items: center;
  }
  .gh-mascot-img {
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  .details-title,
  .game-release-date,
  .game-companies {
    right: 10%;
  }
  .top-game-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .responsive-style {
    margin-left: 3rem;
  }
  .rating-section {
    margin-top: 0.5rem;
    margin-left: 4.2rem;
  }
}

@media (max-width: 550px) {
  .details-title,
  .game-release-date,
  .game-companies {
    right: 5%;
  }
}

@media (max-width: 550px) {
  .title-size {
    font-size: 1.3rem;
  }
}
