@import "variables.css";

header {
  transition: transform 0.3s ease-in-out;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 88px;
  width: 100%;
  z-index: 10;
  background-color: var(--tertiary-background-color);
  display: flex;
  justify-content: center;
  color: var(--nav-text-color);
  border-bottom: 0.3rem solid var(--nav-text-color);
}

.button-color {
  color: var(--nav-text-color);
  font-weight: 500;
  font-size: 16px;
}

.button-color:hover {
  background-color: var(--button-primary-background-color);
  color: var(--heading-color);
}

.button-color.active {
  background-color: var(--button-primary-background-color);
  color: var(--heading-color);
}

.inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  line-height: 1;
  padding: 0.5rem 0.75rem;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: var(--nav-text-color);
  font-weight: 500;
}

.link.active,
.link:hover {
  background-color: var(--button-primary-background-color);
  color: var(--body-text-color);
}

.link-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-links {
  color: var(--nav-text-color);
}

.link-active {
  background-color: var(--button-primary-background-color);
  color: var(--mantine-color-black);
}

.header-links.opened {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--tertiary-background-color);
  width: 100%;
  z-index: 10;
  height: auto;
}

.header-links.opened .link {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1rem;
  border: 1px solid rgb(75, 74, 74);
}

.dropdown {
  display: none;
}

.dropdown.opened {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--tertiary-background-color);
  border-radius: var(--mantine-radius-sm);
  z-index: 20;
}

.burger {
  display: none;
}

@media (max-width: 970px) {
  .burger {
    display: block;
  }

  .header-links {
    display: none;
  }

  .header-links.opened {
    display: block;
  }
  .inner {
    display: flex;
  }
}
