.profile-settings-paper {
  width: 100%;
}

.profile-settings-wrapper {
  display: flex;
  gap: 2rem;
  background-color: #f9f6ee;
  border-radius: 16px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.profile-settings-image {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.profile-settings-image > img {
  border-radius: 50%;
}

.profile-settings-thumbnails {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.profile-thumbnail {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.profile-thumbnail:hover {
  transform: scale(1.1);
}

.profile-settings-form {
  flex: 3;
}
