.container-style {
  width: 300px;
  position: relative;
}

.input-style {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  width: 100%;
  outline-color: var(--nav-text-color);
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.icon-only {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .input-style {
    display: none;
  }
  .icon-only {
    display: flex;
  }
}
