.container-style {
  position: relative;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.dropdown-search {
  position: absolute;
  background: #f1f3f5;
  color: #404040;
  width: 100%;
}

.text-hover:hover {
  background-color: #e0e0e0;
  color: #333333;
  border-radius: 3px;
}

.btn-mobile {
  background-color: var(--button-primary-background-color);
  color: var(--body-text-color);
  margin-left: 0.4rem;
}

.btn-mobile:hover {
  filter: brightness(90%);
}

.icon-wrapper,
.icon-only {
  cursor: pointer;
}

.icon-only {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.icon-only:hover {
  filter: brightness(90%);
}

.cross-icon:hover {
  color: var(--nav-text-color);
}

@media (max-width: 768px) {
  .container-style {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
  }

  .dropdown-search {
    top: 200%;
    width: 80%;
  }

  .text-hover:hover {
    background-color: #e0e0e0;
    color: #333333;
    border-radius: 3px;
  }

  .input-style {
    display: none;
  }

  .icon-only {
    display: flex;
  }
  .input-visible {
    position: absolute;
    top: 38%;
    left: 0;
    right: 0;
    z-index: 5;
    width: 100%;
  }
}

@media (max-width: 972px) {
  .input-width {
    width: 28rem;
  }
  .text-hover:hover {
    background-color: #e0e0e0;
    color: #333333;
    border-radius: 3px;
  }
}

@media (max-width: 768px) {
  .input-width {
    width: 15rem;
  }
  .text-hover:hover {
    background-color: #e0e0e0;
    color: #333333;
    border-radius: 3px;
  }
}

@media (min-width: 1090px) {
  .input-width {
    width: 25rem;
  }
  .text-hover:hover {
    background-color: #e0e0e0;
    color: #333333;
    border-radius: 3px;
  }
}
