:root {
  /* Background Colors */
  --primary-background-color: #fcf5e5;
  --secondary-background-color: #3f3f3f;
  --tertiary-background-color: #2c3532;

  /* Text Colors */
  --body-text-color: #404040;
  --heading-color: #262626;
  --nav-text-color: #f2c341;

  /* Button Colors */
  --button-primary-background-color: #f2c341;
}
